.flex {
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-start{
    justify-content: start;
}

.margin {
    margin-top: 10px ;
    margin-bottom: 10px ;
}